// Font to use for the current site
$font-site-standard: 'Roboto', sans-serif;

// Standard color variables
$color-background: #F7F5F7;
$color-background-2: #F1F0F1;
$color-header-text: #1A2130;
$color-page-header: #1A2130;
$color-text: #1A2130;
$color-text-active: #A74457;
$color-background-map: #000;

$color-navbar-background: #F7F5F7;
$color-navbar-text: #1A2130;

$color-linktext: inherit;
$color-linktext-important: #A74457;

$color-buttons-back: #1A2130;
$color-buttons-text: #F7F5F7;

$color-buttons2-back: $color-background-2;
$color-buttons2-text: #1A2130;

